@charset "UTF-8";
/* 一定要寫這一行 */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

/* 共用區 */
body {
	overflow-x: hidden;
}
.text-shadow{
	text-shadow: 2px 2px #000;
}

.catamaran {
	font-family: "Catamaran", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
}

.vanilla {
	transform-style: preserve-3d;
	transform: perspective(1000px);
	transform: translateZ(20px);
	text-shadow: 2px 2px #000;
}
/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	/* 不累加邊框與內距的寬度 */
}

/* css reset end */

body {
	height: 100vh;
	background-image: url(./image/bk.png);
	background-size: cover;
	background-attachment: fixed;
	/* 
	display: flex;
	flex-direction: column; */
}

a {
	display: block;
	color: #000000;
	/* 取消預設底線裝飾 */
	text-decoration: none;
}

img {
	/* 取消照片框外留白 */
	display: block;
	/* 確保與框架同寬 */
	width: 100%;
	/* svg預設100%*/
}

.topbar {
	/* flexbox layout-彈性布局:display: flex; */
	display: flex;
	/* justify-content主軸元素的排列方式(對齊or平均) */
	/* 主軸水平均分 space-between(貼齊start/end) */
	justify-content: space-between;
	/* 副軸(垂直)置中 */
	align-items: center;
	padding: 5px 10px;
	/* 懸浮 */
	position: fixed;
	/* position預設寬高抓內容尺寸 */
	/* background-color: #FFF; */
	width: 100%;
	/* opacity: 0.7; */
	z-index: 99;
}

.logo {
	width: 60px;
	transition: 0.4s;
}

/* .logo:hover {
    transform: rotateX(45deg);
} */

.topbar nav {
	display: flex;
	/* 要使用flex要先display: flex; */
	flex-direction: column;
	/* 因為變成垂直排版所以使用align-items(副軸)而不是justify-content:(主軸)*/
	align-items: flex-end;
}

.topbar ul {
	display: flex;
}

.menu li {
	margin: 5px 10px;
}

header {
	width: 100%;
	background-color: rgb(234, 231, 231, 0.5);
	position: fixed;
}

/* banner */

#banner {
	height: 100vh;
	background-color: #EAE7E7;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#banner figure {
	width: 220px;
}

#banner figure img {
	filter: drop-shadow(3px 3px 10px #666666);
}

.banner-link {
	position: absolute;
	height: 100%;
	width: 100%;
}

.banner-link h1 a {
	z-index: 50;
	font-size: 3rem;
	color: #FF0000;
	font-weight: bold;
	position: absolute;
	text-shadow: 3px 3px 10px #666666;

	animation-name: banner-link-animation;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.banner-link .about a {
	left: 45%;
	top: 20%;
	animation-delay: 0.3s;
}

.banner-link .product a {
	left: 60%;
	top: 35%;
	animation-delay: 0.6s;
}

.banner-link .qa a {
	left: 63%;
	top: 65%;
}

.banner-link .contact a {
	left: 40%;
	top: 80%;
	animation-delay: 1s;
}

.banner-link .shop a {
	left: 30%;
	top: 40%;
	animation-delay: 1.8s;
}

@keyframes banner-link-animation {
	0% {
		font-size: 3.2rem;
	}

	50% {
		font-size: 2.8rem;
	}

	100% {
		font-size: 3.2rem;
	}

}

.banner-tag {
	width: 100%;
	height: 100%;
	position: absolute;
}

.banner-tag p {
	font-size: 2rem;
	position: absolute;
	text-shadow: 0px 0px 10px #666666;
	animation-name: banner-p-animation;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}

.banner-tag p:nth-child(1) {
	left: 58%;
	top: 10%;
	animation-delay: 2.4s;
}

.banner-tag p:nth-child(2) {
	left: 70%;
	top: 23%;
	animation-delay: 0.4s;
}

.banner-tag p:nth-child(3) {
	left: 65%;
	top: 50%;
	animation-delay: 0.8s;
}

.banner-tag p:nth-child(4) {
	left: 80%;
	top: 70%;
	animation-delay: 3.2s;
}

.banner-tag p:nth-child(5) {
	left: 60%;
	top: 80%;
	animation-delay: 1.6s;
}

.banner-tag p:nth-child(6) {
	left: 55%;
	top: 70%;
	animation-delay: 2s;
}

.banner-tag p:nth-child(7) {
	left: 30%;
	top: 80%;
	animation-delay: 0s;
}

.banner-tag p:nth-child(8) {
	left: 35%;
	top: 60%;
	animation-delay: 2.8s;
}

.banner-tag p:nth-child(9) {
	left: 30%;
	top: 27%;
	animation-delay: 1.2s;
}

.banner-tag p:nth-child(10) {
	left: 38%;
	top: 18%;
	animation-delay: 3.6s;
}

@keyframes banner-p-animation {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(0px, -15px);
	}

	100% {
		transform: translate(0px, 0px);
	}

}

/* about */
#about {
	width: 100%;
	height: 100vh;
	position: relative;
	background: linear-gradient(rgb(200, 200, 200, 0.8), rgb(64, 64, 64, 0.8), rgb(255, 255, 255, 0.8));
	display: flex;
	-webkit-mask-image: linear-gradient(black, black, transparent);
	mask-image: linear-gradient(black, black, transparent);
}

#about .about-img {
	z-index: 50;
	width: 317px;
	position: absolute;
	top: 10%;
	left: 20%;
}

#about .about-left {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

#about .about-left img {
	height: 100vh;
	/* width: 100%; */
	object-fit: cover;
	/* opacity: 50%; */
	-webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 50%);
	mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 50%);
}

#about .about-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#about .about-right h1 {
	font-size: 3rem;
}

#about .about-right h1 small {
	font-size: 1rem;
}



#about .about-right h1 {
	margin-bottom: 30px;
}

/* product */
#product {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.product-content {
	height: 460px;
	width: 760px;
	backdrop-filter: blur(7px) saturate(143%);
	-webkit-backdrop-filter: blur(7px) saturate(143%);
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 44px;
	border: 1px solid rgba(209, 213, 219, 0.3) ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

#product img {
	position: absolute;
	width: 320px;
}

.product-img1 {
	top: 10%;
	right: 10%;
}

.product-img2 {
	top: 10%;
	left: 10%;
}

.product-img3 {
	bottom: 10%;
	right: 10%;
}

.product-img4 {
	bottom: 10%;
	left: 10%;
}


.product-content h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.product-content h2 {
	font-size: 1.5rem;
}

/* comparison */
#comparison {
	background-color: #000;
	position: relative;
	height: 100vh;
	opacity: 0.7;
	-webkit-mask-image: linear-gradient(transparent, black, black, transparent);
	mask-image: linear-gradient(transparent, black, black, transparent);
}

#comparison:active {
	opacity: 1;
}

@layer demo {
	.compare {
		display: grid;

		>* {
			grid-area: 1 / 1;
		}

		>section {
			display: grid;
			place-content: center;
		}

		.before {
			mask: linear-gradient(to right, #000 0, var(--pos, 50%), #0000 0);
		}

		.after {
			mask: linear-gradient(to right, #0000 0, var(--pos, 50%), #000 0);
		}

		>input[type="range"] {
			z-index: 1;
			appearance: none;
			background: transparent;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;

			&::-webkit-slider-thumb {
				appearance: none;
				inline-size: 4px;
				block-size: 100dvh;
				background-color: CanvasText;
			}

			&::-moz-range-thumb {
				appearance: none;
				inline-size: 4px;
				block-size: 100dvh;
				background-color: CanvasText;
			}
		}
	}

	img {
		max-block-size: 80dvh;
		max-inline-size: 100%;
	}
}

@layer demo.support {
	* {
		box-sizing: border-box;
		margin: 0;
	}

	html {
		block-size: 100%;
		color-scheme: dark light;
	}

	body {
		min-block-size: 100%;
		font-family: system-ui, sans-serif;
		display: grid;
	}
}

#comparison img {
	object-fit: contain;
}

#comparison img:last-child {
	padding-right: 100px;
}

.comparison-left,
.comparison-right {
	position: absolute;
	display: block;
	color: white;
	font-size: 7rem;
	z-index: 50;
}

.comparison-left {
	left: 10%;
	top: 30%;
}

.comparison-right {
	right: 10%;
	top: 30%;
}

/* shop */
#shop {
	height: 100vh;
	background-color: rgba(234, 231, 231, 0.5);
}