@charset "UTF-8";
/* 一定要寫這一行 */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* 共用區 */
body {
	overflow-x: hidden;
}

.title {
	font-size: 2.1rem;
	color: #3b312d;
	margin-bottom: 1.6em;
	font-weight: 600;
}

.content {
	color: #3b312d;
	font-size: 1rem;
	margin-bottom: 22px;
	line-height: 2;
	font-weight: 500;
}

.link {
	margin-top: 22px;
	display: block;
	width: 165px;
	height: 44px;
	color: #ffffff;
	background-color: #3b312d;
	padding: 10px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	transition: all 0.35s;
}

.link:hover {
	color: #3b312d;
	background-color: #ffffff;
	border: #3b312d 1px solid;
}

.text-shadow {
	text-shadow: 2px 2px #000;
}

.catamaran {
	font-family: "Catamaran", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
}

.vanilla {
	transform-style: preserve-3d;
	transform: perspective(1000px);
	transform: translateZ(20px);
	text-shadow: 2px 2px #000;
}

.ubuntu-light {
	font-family: "Ubuntu", sans-serif;
}

/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	/* 不累加邊框與內距的寬度 */
}

/* css reset end */

/* all */

a {
	text-decoration: none;
}

main {
	position: relative;
}

section {
	position: relative;
	z-index: 50;
}

main img {
	object-fit: cover;
}

/* main img:hover{
	object-fit: cover;
} */

/* header */

.topbar {
	width: 100%;
	position: fixed;
	color: #3b312d;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 19px;
	background-color: #f0f0f0;
	z-index: 99;
	opacity: 0;
}

.logo a {
	color: #3b312d;
	display: flex;
	align-items: center;
	font-size: 2rem;
	transition: all 0.35s;
}

.logo a img {
	transition: all 0.35s;
}

.menu .home {
	display: none;
}


.menu a {
	padding: 5px 10px;
	border-radius: 99px;
	color: #3b312d;
	font-weight: 700;
	transition: all 0.35s;
}

.menu a:hover {
	background-color: #3b312d;
	color: white;
}

header img {
	width: 50px;
	height: 50px;
}

.logo a:hover img {
	width: 60px;
	height: 60px;
}

.menu {
	display: flex;
}

.menu li {
	margin: 10px;
}

.topbar-h {
	height: 70px;
	width: 100%;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {

	.menu li {
		margin: 2px;
	}

	.logo a p {
		display: none;
	}

}

/* 小型設備(手機) */
@media (max-width:640px) {
	.logo {
		display: none;
	}
	.menu-contact {
		display: none;
	}
	.menu .home {
		display: block;
	}

	.topbar {
		padding: 5px;
		justify-content: center;
	}

	.menu li a {
		font-size: 0.9rem;
	}
	.menu a {
		padding: 2px;
	}
}

/* banner */

#banner {
	position: relative;
}

#banner .down {
	position: absolute;
	bottom: 10%;
	right: 50%;
	animation: down 2s both infinite;
}

@keyframes down {
	0% {
		bottom: 11%;
	}

	50% {
		bottom: 9%;
	}

	100% {
		bottom: 11%;
	}
}

/* about */


#about,
#product,
#explain,
#news {
	z-index: 1;
	position: relative;
	margin: auto;
	height: 800px;
	width: 90%;
	display: flex;
	justify-content: center;
}

#about>div,
#product>div,
#explain>div,
#news>div {
	width: 50%;
}

.about-left,
.explain-right {
	z-index: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-left img,
.product-right img {
	height: 90%;
}

.about-left-img{
	position: relative;
	width: 60%;
	height: 90%;
	overflow: hidden;
}

.about-left-img img {
	position: absolute;
	width: 150%;
	height: auto;
}

.about-right,
.product-left,
.news-left {
	z-index: 1;
	display: flex;
	align-items: center;
}

.about-right-box,
.product-left-box,
.explain-right-box,
.news-left-box,
.news-right {
	z-index: 1;
	width: 80%;
	padding: 95px;
}

.bg-rotate{
	position: absolute;
	z-index: 0;

}

.bg-rotate-1{
	right: -100px;
	/* animation: bg-rotate 20s linear infinite; */
	rotate: 30deg;
}
.bg-rotate-2{
	left: -100px;
	bottom: -100px;
	rotate: 264deg;
	/* animation: bg-rotate 15s linear infinite; */
}

.bg-rotate-3{
	left: 800px;
	bottom: 50%;
	rotate: 60deg;
}
.bg-rotate-4{
	left: 40%;
	top: 100px;
	rotate: 75deg;
}

.bg-rotate-5{
	right: 0;
	top: 0;
	rotate: 65deg;
}

@media (max-width:863px){
	.bg-rotate{
		display: none;
	}
}

/* @keyframes bg-rotate{
	0%{
		rotate: 0deg;
	}
	100%{
		rotate: 359deg;
	}
} */


/* RWD斷點 */
/* 大型設備(桌機) */
/* 中型設備(平板) */
@media (max-width:1250px) {

	#about,
	#product,
	#explain,
	#news {
		/* flex-direction: column; */
		width: 100%;
	}

	/* #about>div{
		width: 100%;
	} */

	/* .about-left,
	.about-right {
		height: auto;
	} */

	.about-right-box,
	.product-left-box,
	.explain-right-box,
	.news-left-box,
	.news-right {
		width: 100%;
		padding: 10px;
	}
}

@media (max-width:1030px) {

	#about,
	#product,
	#explain,
	#news {
		/* flex-direction: column;
		width: 100%; */
		height: auto;
	}

	/* #about>div,
	#product>div,
	#explain>div,
	#news>div {
		width: 100%;
	} */

	/* #about img, */
	#product img,
	#explain img,
	#news img {
		height: 50vh;
	}

	.about-right-box,
	.product-left-box,
	.explain-right-box,
	.news-left-box,
	.news-right {
		width: 100%;
		padding: 10px;
	}
	.about-left {
		height: auto;
	}
}


/* 小型設備(手機) */
@media (max-width:640px) {}

/* product */
#product {
	height: 800px;
	margin: 0;
}

.product-right {
	z-index: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@media (max-width:1250px) {
	.product-right {
		justify-content: center;
	}

}

/* explain */

#explain {
	width: 100%;
}

.explain-left {
	z-index: 1;
	height: 100%;
}

.explain-left img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.explain-right {
	justify-content: flex-start;
}

/* news */

.news-right {
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.news-right img {
	/* margin: 10%; */
	width: 40%;
	height: 70%;
	object-fit: cover;
}

/* 小型設備(手機) */
@media (max-width:640px) {

	#about,
	#product,
	#explain,
	#news {
		flex-direction: column;
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		border-bottom: #3b312d 1px solid;
		padding: 5px;
	}

	#about>div,
	#product>div,
	#explain>div,
	#news>div {
		width: 100%;
	}
}

/* contact */

#contact {
	height: 800px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	align-items: center;
}

#contact form {
	display: flex;
	flex-direction: column;
}

#contact form label {
	font-size: 1.2rem;
	color: #6c2911;
}

#form-contact {
	width: 35%;
	max-width: 480px;
	min-width: 200px;
	/* 讓按鈕置中 */
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form-contact>* {
	width: 100%;
	display: block;
}

#form-contact label,
button {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 0.8rem;
}

#form-contact input,
#form-contact textarea {
	padding: 10px;
	/* outline: none; */

	opacity: 0.8;

	background-color: rgba(108, 41, 17, 0.2);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	box-shadow: 2px 2px 4px 1px rgba(rgba(64, 53, 49, 0.2)),
		inset -1px -1px 1px rgba(64, 53, 49, 0.2);
	border: rgba(64, 53, 49, 0.2) solid 1px;
}

#output {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 40px;
	width: 100px;
	opacity: 1;
	color: #6c2911;
	background-color: rgba(108, 41, 17, 0.2);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	box-shadow: 2px 2px 4px 1px rgba(rgba(64, 53, 49, 0.2)),
		inset -1px -1px 1px rgba(64, 53, 49, 0.2);
	border: rgba(64, 53, 49, 0.2) solid 1px;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

#output:hover {
	color: #3b312d;
}

/* carousel */

#carousel {
	height: 500px;
	/* background-color: #EAE5DB; */
	overflow: hidden;
	position: relative;
}

.carousel-box {
	position: absolute;
	left: 0;
	display: flex;
	width: auto;
	height: 100%;
	animation: carousel 50s ease-in-out infinite;
}

.carousel-box img {
	width: 25vw;
	object-fit: cover;
	object-position: center;
}

@keyframes carousel {
	0% {
		left: 0;
	}

	9% {
		left: 0;
	}

	10% {
		left: -25vw;
	}

	19% {
		left: -25vw;
	}

	20% {
		left: -50vw;
	}

	29% {
		left: -50vw;
	}

	30% {
		left: -75vw;
	}

	39% {
		left: -75vw;
	}

	40% {
		left: -100vw;
	}

	49% {
		left: -100vw;
	}

	50% {
		left: -125vw;
	}

	59% {
		left: -125vw;
	}

	60% {
		left: -150vw;
	}

	69% {
		left: -150vw;
	}

	70% {
		left: -175vw;
	}

	79% {
		left: -175vw;
	}

	80% {
		left: -200vw;
	}

	89% {
		left: -200vw;
	}

	90% {
		left: -225vw;
	}

	99% {
		left: -225vw;
	}

	100% {
		left: -250vw;
	}

}

/* footer */

footer {
	width: 100%;
	height: 200px;
	background-color: #3b312d;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

footer .home {
	width: 300px;
	height: 100px;
	border-radius: 99px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

footer .home img {
	width: 50px;
	height: 50px;
}

footer .home a {
	color: #3b312d;
	font-size: 2rem;
	display: flex;
	align-items: center;
}

.footer-link {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100px;
	border-radius: 99px;
	background-color: white;
}

.icon {
	width: 300px;
	height: 100px;
	border-radius: 99px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.icon img {
	width: 30px;
	height: 30px;
	margin: 10px;
	transition: all 0.35s;
}

.icon a:hover img {
	width: 35px;
	height: 35px;
}

/* RWD斷點 */
/* 大型設備(桌機) */

/* 中型設備(平板) */
@media (max-width:1090px) {
	footer {
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	
	.home, .icon ,.footer-link {
		margin: 10px;
	}

}

/* 小型設備(手機) */
@media (max-width:640px) {}

/* 動畫區 */
.moving-text {
	position: absolute;
	top: 700px;
	height: 6rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.moving-text-box {
	position: relative;
	height: 100%;
	width: 70%;
	overflow-x: hidden;
}

.moving-text-box::-webkit-scrollbar {
	display: none;
}

.moving-text-content {
	position: absolute;
	font-size: 5rem;
	white-space: nowrap;
	font-weight: 300;
	left: -50px;
}

/* product-content */

#product-content {
	min-height: 100vh;
	padding: 100px 95px 50px 95px;
	background-color: #f0f0f0;
}

.product-title {
	width: 100%;
	padding-bottom: 20px;
	/* border-bottom: #6c2911 2px solid; */
	margin-bottom: 50px;
	text-align: center;
	font-size: 1.75rem;
	font-weight: 600;
}


#product-content a {
	font-weight: 600;
	/* height: 500px; */
	margin: 15px;
	width: 31%;
}



.product-card {

	display: flex;
	flex-direction: column;
	/* margin-bottom: 50px; */
	transform-style: preserve-3d;
	transform: perspective(1000px);
	transform: translateZ(20px)
}

.product-card figure {
	width: 100%;
	height: 60vh;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

}

.product-card img {
	width: 100%;
	height: 100%;
	object-position: center;
}

.product-card figure:hover img {
	animation: bigCard 100s linear;
}

@keyframes bigCard {
	0% {
		width: 100%;
		height: 100%;
	}

	5% {
		width: 150%;
		height: 150%;
	}

	100% {
		width: 150%;
		height: 150%;
	}
}

.product-card h1 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 5px;
	color: brown;
}

.product-card p {
	color: #8D8F92;
}

.product-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


/* RWD斷點 */
/* 中型設備(平板) */
@media (max-width:1500px) {
	#product-content a {
		width: 45%;
	}
}
@media (max-width:830px) {
	#product-content a {
		width: 100%;
		padding-bottom: 5px;
		border-bottom: #8D8F92 0.5px solid;
	}
}

/* 小型設備(手機) */
@media (max-width:640px) {
	#product-content {
		min-height: 100vh;
		padding: 100px 20px 50px 20px;
		background-color: #f0f0f0;
	}

}

/* introduce */

#introduce {
	min-height: 100vh;
	display: flex;
}

#introduce>div {
	width: 50%;
	height: 100vh;
}

.introduce-left {
	background-color: #EAE5DB;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 10% 10px 10%;
}

.introduce-right {
	background-image: url(../image/introduce-card.jpg);
	background-size: cover;
	background-position: center;
}

.introduce-2{
	flex-direction: row-reverse;
}

.introduce-right-bg{
	background-image: url(../image/introduce-card-2.jpg);
}


/* RWD斷點 */

@media (max-width:1030px) {
	#introduce {
		flex-direction: column;
	}
	#introduce>div {
		width: 100%;
	}
	.introduce-left{
		justify-content: center;
	}
}


/* lightdark-swicth */
.lightdark-swicth {
	position: fixed;
	top: 80px;
	right:20px;
	z-index: 70;
}

.lightdark-swicth img {
	cursor: pointer;
}

.dark {
	display: none;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {}

/* 小型設備(手機) */
@media (max-width:640px) {}